@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

html,
body {
	padding: 0;
	margin: 0;
	scroll-behavior: smooth;
	font-family: "Poppins", sans-serif !important;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

.bg-grey {
	background-color: #f2f4f6;
}

.bg-grey-2 {
	background-color: #f2f2f7;
}

.mt-n1 svg {
	margin-top: -4px;
}

.navbar-brand {
	margin-right: 0px !important;
}

.navbar-custom {
	font-size: 18px !important;
}


/* ANJUNGAN  */

.bg-image {
	z-index: -1;
}

.card-bg {
	background: url("/circle.svg");
	background-repeat: no-repeat;
	background-position: right;
}

.card {
	transition: all 0.5s;
}

.card-link:hover {
	transition: all 0.5s;
	box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
	transform: translate(0px, -8px);
}

.icon-32 {
	margin-top: -16px;
	font-size: 32px;
}

.icon-30 {
	padding: 8px;
	font-size: 28px;
}

.bg-gradient-danger {
	background: -webkit-gradient(
		linear,
		left top,
		right top,
		from(#ffbf96),
		to(#fe7096)
	) !important;
	background: linear-gradient(to right, #ffbf96, #fe7096) !important;
}

.bg-gradient-info {
	background: -webkit-gradient(
		linear,
		left top,
		right top,
		from(#90caf9),
		color-stop(99%, #047edf)
	) !important;
	background: linear-gradient(to right, #90caf9, #047edf 99%) !important;
}

.bg-gradient-success {
	background: -webkit-gradient(
		linear,
		left top,
		right top,
		from(#84d9d2),
		to(#07cdae)
	) !important;
	background: linear-gradient(to right, #84d9d2, #07cdae) !important;
}

.bg-gradient-warning {
	background: -webkit-gradient(
		linear,
		left top,
		right top,
		from(#dfb68a),
		to(#f2a654)
	) !important;
	background: linear-gradient(to right, #dfb68a, #f2a654) !important;
}


/* SURAT  */

.masthead-followup-icon {
	max-width: 60px;
	padding: 0.5rem;
	background-image: linear-gradient(
		to bottom right,
		rgba(255, 255, 255, 0.2),
		rgba(255, 255, 255, 0.01)
	);
	border-radius: 0.75rem;
	box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 10%);
}

.bg-purple-500 {
	background-color: #7952b3;
}

.bg-purple-500 {
	background-color: #4a148c;
}

.bg-red-500 {
	background-color: #e53935;
}

.bg-red-900 {
	background-color: #b71c1c;
}

.bg-indigo-500 {
	background-color: #3949ab;
}

.bg-indigo-900 {
	background-color: #1a237e;
}

.bg-blue-500 {
	background-color: #1e88e5;
}

.bg-blue-900 {
	background-color: #0d47a1;
}

.bg-lightblue-500 {
	background-color: #039be5;
}

.bg-lightblue-900 {
	background-color: #01579b;
}

.bg-teal-500 {
	background-color: #00897b;
}

.bg-teal-900 {
	background-color: #004d40;
}

.bg-green-500 {
	background-color: #43a047;
}

.bg-green-900 {
	background-color: #1b5e20;
}

.bg-yellow-500 {
	background-color: #fdd835;
}

.bg-yellow-900 {
	background-color: #f57f17;
}

.bg-orange-500 {
	background-color: #fb8c00;
}

.bg-orange-900 {
	background-color: #e65100;
}

.bg-deeporange-500 {
	background-color: #f4511e;
}

.bg-deeporange-900 {
	background-color: #bf360c;
}

.bg-brown-500 {
	background-color: #6d4c41;
}

.bg-brown-900 {
	background-color: #3e2723;
}

.bg-gray-500 {
	background-color: #757575;
}

.bg-gray-900 {
	background-color: #212121;
}

.bg-bluegrey-500 {
	background-color: #546e7a;
}

.bg-bluegrey-900 {
	background-color: #263238;
}

/* PENGADUAN  */

.bg-blue-gradient {
	background: rgb(13,110,253);
	background: linear-gradient(27deg, rgba(13,110,253,1) 12%, rgba(0,212,255,1) 100%);
}

.form-label {
	font-weight: 500;
}

#formFile {
	display: none;
}